<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Board</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // 드롭다운 메뉴 활성화
            $(".dropbtn").click(function (event) {
                event.stopPropagation(); // 클릭 이벤트 전파 방지
                $(this).siblings(".dropdown-content").toggle(); // 드롭다운 토글
            });

            // 문서의 다른 부분 클릭 시 드롭다운 닫기
            $(document).click(function () {
                $(".dropdown-content").hide(); // 드롭다운 숨김
            });
        });
        // $("#logoutDiv").onclick.submit();
    </script>
</head>
<body>

<!-- 네비게이션 바 -->
<nav class="navbar" th:fragment="header">
    <div class="navbar-left">
        <a href="/" class="navbar-brand">Blog</a>
    </div>
    <div class="navbar-right">
        <!-- 로그인 여부에 따라 표시 -->
        <span sec:authorize="!isAuthenticated()">
            <a href="/login">로그인</a>
        </span>
        <span sec:authorize="isAuthenticated()">
            <div class="dropdown">
                <span class="dropbtn"
                              sec:authentication="principal.username">${#authentication.getPrincipal().username}</span>
                <div class="dropdown-content">
                    <a th:href="@{/user/profile/{username}(username=${#authentication.getPrincipal().username})}">회원정보</a>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="logout-btn">로그아웃</button>
                    </form>
                </div>
            </div>
        </span>
    </div>
</nav>
</body>
</html>