/* 기존 스타일 유지 */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 15px;
    color: white;
    align-items: center;
}

.navbar-left a {
    font-size: 28px;
    color: white;
    text-decoration: none;
}

.navbar-left a:hover {
    color: #009538;
}

.navbar-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px; /* 글자 크기 추가 */
}

.navbar-right a:hover {
    color: #009538;
}

/* 드롭다운 스타일 */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    margin-bottom: 8px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/*.dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: white;*/
/*    min-width: 160px;*/
/*    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);*/
/*    z-index: 1;*/
/*    text-align: left;*/
/*}*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
    top: 120%; /* 드롭다운이 부모 요소의 아래로 내려오도록 조정 */
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    margin: 0px;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-content a:hover,
.dropdown-content form button:hover {
    color: #009538;
}

/* 드롭다운 메뉴 활성화 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 버튼 hover 스타일 */
.dropdown:hover .dropbtn {
    color: #009538;
}

/* 로그아웃 버튼 스타일 */
.logout-form {
    margin: 0; /* 기본 margin 제거 */
    padding: 0;
}

/* 로그아웃 버튼 스타일 수정 */
.dropdown-content form button {
    all: unset; /* 기본 버튼 스타일 제거 */
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 15px; /* 회원정보와 동일한 패딩 */
    width: 100%; /* 회원정보와 동일한 너비 */
    text-align: left; /* 회원정보와 동일한 텍스트 정렬 */
    font-size: 16px; /* 회원정보와 동일한 폰트 크기 */
    line-height: 1.5; /* 텍스트 높이 조정 */
    cursor: pointer;
}

.dropdown-content form button:hover {
    color: #009538; /* hover 시 효과 동일 */
}