<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/home.css">
    <title>Board</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <th:block>
        <link rel="stylesheet" th:href="@{/css/header.css}">
    </th:block>
</head>
<body>
<div th:insert="~{fragment/header::header}"></div>
홈페이지
</body>
</html>