<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>이메일 인증</title>
    <link rel="stylesheet" href="/css/signup.css">
    <th:block>
        <link rel="stylesheet" th:href="@{/css/header.css}">
    </th:block>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        let countdownTime = 300;
        let timerInterval;

        function startCountdown() {
            const timerDisplay = document.getElementById('timer');
            clearInterval(timerInterval);
            countdownTime = 300;
            timerInterval = setInterval(() => {
                if (countdownTime <= 0) {
                    clearInterval(timerInterval);
                    timerDisplay.textContent = "시간 초과. 인증 코드를 다시 요청하세요.";
                    document.getElementById('verifyEmailBtn').disabled = true;
                } else {
                    const minutes = Math.floor(countdownTime / 60);
                    const seconds = countdownTime % 60;
                    timerDisplay.textContent = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
                    countdownTime--;
                }
            }, 1000);
        }

        $(document).ready(function () {
            // 이메일 인증 전송
            $('#sendEmailBtn').click(function () {
                const csrfToken = $('meta[name="_csrf"]').attr('content');
                const csrfHeader = $('meta[name="_csrf_header"]').attr('content');
                const sendEmail = $('#emailVerifier').val();
                if (!sendEmail) {
                    alert("이메일을 입력해주세요.");
                    return;
                }

                $.ajax({
                    url: '/api/mail/send',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({"email": sendEmail}),
                    async: true,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                        xhr.setRequestHeader("Content-type", "application/json");
                    },
                    success: function () {
                        alert('인증 이메일이 전송되었습니다.');
                        startCountdown();
                        $('#emailCodeSection').show();
                    },
                    error: function () {
                        alert('이메일 전송에 실패했습니다. 다시 시도해주세요.');
                    }
                });
            });

            // 이메일 인증 코드 확인
            $('#verifyEmailBtn').click(function () {
                const csrfToken = $('meta[name="_csrf"]').attr('content');
                const csrfHeader = $('meta[name="_csrf_header"]').attr('content');
                const email = $('#emailVerifier').val();
                const code = $('#emailCode').val();
                let data = JSON.stringify({email: email, code: code});
                if (!code) {
                    alert("인증 코드를 입력해주세요.");
                    return;
                }

                $.ajax({
                    url: '/api/mail/verify',
                    type: 'POST',
                    contentType: 'application/json',
                    data: data,
                    dataType: 'text',
                    async: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },
                    success: function () {
                        alert('이메일 인증이 완료되었습니다.');
                        window.location.href = '/signup/form'
                    },
                    error: function () {
                        alert('인증 코드가 올바르지 않습니다.');
                    }
                });
            });
        });
    </script>
</head>
<body>
<div th:insert="~{fragment/header::header}"></div>
<div class="container">
    <header class="header">
        <h1>이메일 인증</h1>
    </header>

    <form>
        <div class="form-group">
            <label for="emailVerifier">이메일:</label>
            <input type="email" id="emailVerifier" name="emailVerifier" placeholder="example@domain.com" required>
            <!-- 이메일 값 전달을 위한 hidden 필드 -->
            <div th:text="${duplicated}" class="error"></div>
            <button type="button" id="sendEmailBtn" class="btn">인증 이메일
                보내기
            </button>
            <div id="emailCodeSection" style="display: none;">
                <label for="emailCode">인증 코드:</label>
                <input type="text" id="emailCode" name="emailCode" placeholder="인증 코드 입력" required>
                <button type="button" id="verifyEmailBtn" class="btn">인증 코드 확인</button>
                <p>남은 시간: <span id="timer">05:00</span></p>
            </div>
        </div>
    </form>
</div>
</body>
</html>